/* 375px */
@media (max-width: 23.4375em) {
  .header__title {
    font-size: clamp(2rem, calc(0.53rem + 8.42vw), 2.5rem);
  }
}

/* 480px */
@media (min-width: 30em) {
  .graphic {
    background-image: url("../images/desktop/image-graphic-design.webp");
  }
  .photo {
    background-image: url("../images/desktop/image-photography.webp");
  }
}

/* 528px */
@media (max-width: 33em) {
  .line-break::after {
    content: "\a";
    white-space: pre;
  }
}

/* 640px */
@media (min-width: 40em) {
  .testimonials__title {
    line-height: 1.5413rem;
    letter-spacing: 5px;
  }

  .testimonial__cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* 720px */
@media (min-width: 45em) {
  /* **************** */
  /* TEXT CONTAINER  */
  .text-container {
    text-align: left;
    max-width: 100%;
  }
  .text-container--left {
    padding-top: var(--clamp-padding-24px-to-158px);
    padding-right: var(--clamp-padding-16px-to-110px);
    padding-bottom: var(--clamp-padding-24px-to-150px);
    padding-left: var(--clamp-padding-16px-to-165px);
  }
  .text-container--right {
    padding-top: var(--clamp-padding-24px-to-158px);
    padding-right: var(--clamp-padding-16px-to-165px);
    padding-bottom: var(--clamp-padding-24px-to-150px);
    padding-left: var(--clamp-padding-16px-to-110px);
  }

  .text-container__title {
    line-height: 3.0825rem;
    letter-spacing: -0.29px;
  }
}

/* 800px */
@media (min-width: 50em) {
  /* **************** */
  /* HEADER */

  .header {
    background-image: url("../images/desktop/image-header.webp");
  }

  .logo {
    width: 10.625rem;
    height: 2.0625rem;
  }

  .header__title {
    letter-spacing: 0.5469rem;
    line-height: 4.3156rem;
  }

  .header {
    background-image: url("../images/desktop/image-header.webp");
  }

  .header__arrow {
    top: 22.6rem;
  }

  .navigation--header {
    padding: 2.125rem 3rem 0 2.5rem;
  }

  .hamburger {
    display: none;
  }

  .navigation__list--header {
    position: static;
    opacity: 1;
    padding: 0;
    background: transparent;
    gap: clamp(1rem, calc(-0.55rem + 3.88vw), 2.94rem);
    display: flex;
    align-items: center;
    flex-basis: 0;
    visibility: visible;
  }

  .navigation__link--header {
    color: var(--clr-white);
    margin: 0;
  }

  .navigation__link--contact {
    color: var(--clr-dark-blue-800);
    background-color: var(--clr-white);
  }

  .navigation__link--contact:hover {
    background-color: #77cdf5;
    color: var(--clr-white);
  }
}

/* 1248px */
@media (min-width: 78em) {
  .testimonial__cards {
    gap: 1.875rem;
  }
  .testimonial__card-image {
    margin-bottom: 3.625rem;
  }
  .testimonial__card-text {
    margin-bottom: 4.3125rem;
  }
}
